* {
  font-family: "Playfair Display", serif;
}

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../public/nietzsche-wallpaper.jpg");
  background-size: cover;
  background-color: #fff;
  background-blend-mode: luminosity;
}

@media only screen and (max-width: 1400px) {
  body {
    background-color: #c7c7c7;
    background-image: none;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
  font-family: serif;
  font-size: xxx-large;
}

.text_input {
  font-family: serif;
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.button {
  font-family: serif;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.912);
}

.result {
  padding-left: 10%;
  padding-right: 10%;
  animation: fadeIn 2s;
  font-family: serif;
  font-style: italic;
  font-size: x-large;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
